layout {
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }

    focus-ring {
        width 2

        urgent-color "#9B0000"
        active-color "#000000"
        inactive-color "transparent"
    }

    tab-indicator {
        position "bottom"

        width 4
        length total-proportion=0.5

        gap -16
        gaps-between-tabs 0
        corner-radius 2

        hide-when-single-tab
        place-within-column

        urgent-color "#F54927"
        active-gradient from="#f00f" to="#0f05" angle=45 in="oklch longer hue"
        inactive-color "#000000"
    }

    shadow { on; }
    border { off; }

    gaps 6

    background-color "transparent"

    always-center-single-column

    default-column-width { }
}
