layer-rule {
    match namespace="(?-x:bg|background|wallpaper)$"

    place-within-backdrop true
}

layer-rule {
    match namespace="^launcher$"

    background-effect {
        blur true
    }
}

layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"
}

window-rule {
    draw-border-with-background false

    geometry-corner-radius 2.0

    clip-to-geometry true
}

// Blur
window-rule {
    match app-id=r#"^kitty$"#
    match app-id=r#"^(?-x:org|dev|com)\.(?-x:wezfurlong|zed|mitchellh)\.(?-x:wezterm|Zed|ghostty)$"#

    background-effect {
        blur true
    }
}

// VRR
window-rule {
    match app-id=r#"^(?-x:mpv|steam_app_\d+)$"#
    match app-id=r#"\.exe$"#
    match title=r#"Minecraft\* [\w\.]{3,}"#

    variable-refresh-rate true
}
