// startup
window-rule {
    match app-id=r#"^kitty$"# at-startup=true
    match app-id=r#"^(?-x:org|com)\.(?-x:wezfurlong|mitchellh)\.(?-x:wezterm|ghostty)$"# at-startup=true

    open-on-workspace "terminal"
    open-maximized-to-edges true
}

window-rule {
    match app-id="^firefox$" at-startup=true

    open-on-workspace "sea"
    open-maximized-to-edges true
}
